/* Colors */

$font-color: #213b29;
$font-alternative-color: #467d57;
$highlight-color: #78e69b;
$dark-color: #132318;
$accent-color: #76C5DB;
$background-color: #f0f3f0;
$background-alternative-color: #cfd9dc;

// Dark theme:
$dt-background: $dark-color;
$dt-font-color: $background-alternative-color;
$dt-link-color: $font-alternative-color;

/* Fonts */
$headline-font: 'Epilogue', sans-serif;
$paragraph-font: 'Inter', sans-serif;