body {
    background-color: #f0f3f0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #78e69b;
    color: #264e33;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Test*/

.first-box {
    box-sizing: content-box;
    width: 600px;
    height: 100px;
    background-color: #000;
}

.second-box {
    box-sizing: content-box;
    width: 100%;
    height: 100px;
    background-color: #0000ff;
}

.third-box {
    box-sizing: border-box;
    width: 50vw;
    height: 100px;
    background-color: #ff0000;
}

.fourth-box {
    width: 100%;
    height: 100px;
    background-color: #00ff00;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.nav a {
    font-size: 2rem;
    text-decoration: none;
}

.nav a:hover {
    border-bottom: 5px solid #78e69b;
}

.main {
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

/* Title */

.title, .logo {
    padding: 2em 3em 3em 0;
    margin: auto;
}

.logo {
    width: 150px;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
    .nav a:hover {
        color: #78e69b;
        border-bottom: 0;
    }
}

.title * {
    color: #2e2934;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 5px solid #78e69b;
    background-color: #777;
    padding: 40px 80px;
}

.footer a {
    color: #f0e6ef;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.4;
    color: #2e2934;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1.2em;
}

p a {
    color: #467d57;
}

p a:hover {
    color: #78e69b;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}
